 @font-face {
  font-family: 'Roboto-Black';
  src: url('fonts/roboto/Roboto-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: lighter;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: lighter;
    font-style: normal;
}

:root {
  --corClara: #ffffff;
  --corMedia: #d42026;
  --corMediaOpac: rgb(212,32,38, 0.35);
  --corEscura:#4e4e4e;
}

html {
  font-family: sans-serif;
}
body, h1 {
  margin: 0;
}
.text-center{
  text-align: center;
}

#pagina-list, #pagina-detail, #pagina-detail {
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 42px;
  padding-left: 42px;
  border-bottom: 12px solid var(--corMedia);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#pagina-list {
  height: 688px;
}

#busca-marvel{
  font-family: 'Roboto-Black';
  font-size: 27px;
  color: var(--corMedia);
  display: inline-block;
}

#teste-front-end, #candidato{
  font-family: 'Roboto-Light';
  font-size: 27px;
  color: var(--corMedia);
  display: inline-block;
}

#candidato{
  float: right;
}

#underline-busca{
  height: 4px;
  width: 54px;
  background-color: var(--corMedia);
}

#sessao-listagem{
  padding-top: 34px;
}

#form-busca{
  font-family: 'Roboto-Regular';
  font-size: 16px;
  margin-bottom: 34px;
}
#form-busca label{
  color: var(--corMedia);
}

#form-busca input{
  width: 400px;
  height: 31px;
  border: 1px solid #a5a5a5;
}

#table-super-herois{
  width: 100%;
  border-collapse: collapse
}
#table-super-herois th{
  background-color: var(--corMedia);
  color: var(--corClara);
  font-family: 'Roboto-Regular';
  font-size: 16px;
  height: 37px;
}
#table-super-herois thead tr :nth-child(1) {
  width: 25%;
  border-right: 10px solid var(--corClara)
}
#table-super-herois thead tr :nth-child(2) {
  width: 25%;
}
#table-super-herois thead tr :nth-child(3) {
  width: 50%;
  border-left: 10px solid var(--corClara);
}

#table-super-herois tbody tr{
  cursor: pointer;
}

#table-super-herois tbody tr td{
  height: 112px;
  vertical-align: middle;
  border-bottom: 3px solid var(--corMediaOpac);
}

#table-super-herois tbody tr td .thumbnail{
  display: inline-block;
  width: 58px;
  height: 58px;
  margin-left: 5px;
  margin-right: 12px;
  border-radius: 50%;
  vertical-align: middle;
}

#table-super-herois tbody tr td li{
  text-decoration: none;
   display: block;
}

#pagina-detail .foto{
  width: 150px;
  cursor: pointer;
}

#pagina-detail .foto-grande{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top:0px;
  left:0px;
}

#nome-personagem{
    font-family: 'Roboto-Black';
    font-size: 36px;
    color: var(--corMedia);
    padding-top: 28px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clear-both{
  clear: both;
}

.titulo-sessoes{
  font-family: 'Roboto-Regular';
  font-size: 18px;
  background-color: var(--corMedia);
  color: var(--corClara);
}

#pagina-detail section ul li{
  display: block;
  padding: 15px 5px 0px 5px;
}
#pagina-detail section ul li img {
  height: 100px;
    float: left;
  margin: 0px 12px 0px 12px;
}

.btn-mostrar-ocultar{
  float: right;
  background-color: var(--corClara);
  border: 2px solid var(--corMedia);
  padding: 1px 6px 1px 6px;
  cursor: pointer;
  color: var(--corEscura);
}

@media (min-width: 1280px) {
  #pagina-list, #pagina-detail{
    max-width: 1196px;
  }
}
@media (max-width: 900px) {
  .hide-tela-med{
    display: none !important;
  }
}

@media (max-width: 484px) {
  #form-busca input{
    width: 100%;
  }
}

@media (max-width: 360px) {
  .hide-tela-peq{
    display: none !important;
  }
  #pagina-list, #pagina-detail{
    padding: 0px 0px 0px 0px;
  }

  #pagina-list{
    height: 616px;
  }

  #pagina-detail .foto{
    cursor: default;
  }

  #pagina-detail .foto-grande{
    width: 100%;
    position: relative;
  }

  #pagina-detail .foto{
    cursor: default;
    width: 100%;
  }

  #busca-marvel, #teste-front-end{
    font-size: 16px;
    line-height: 19px;
  }

  #sessao-listagem{
    padding-top: 12px;
  }

  #form-busca{
    margin-bottom: 12px;
  }

  #underline-busca{
    margin-left: 30px;
  }
  #titulo, #form-busca {
    padding-left: 30px;
    padding-right: 30px;
  }

  #table-super-herois tbody tr td{
    height: 92px;
    border-bottom: 1px solid var(--corMediaOpac);
  }

  #table-super-herois thead tr :nth-child(1) {
    border-right-width: 0px;
  }
}

