<div id="pagina">
    <header>
        <h1 id="titulo"><span id="busca-marvel">BUSCA MARVEL</span><span id="teste-front-end">TESTE FRONT-END</span> <span id="candidato" class="hide-tela-peq">DANIEL PEREIRA DOS SANTOS</span></h1>
        <div id="underline-busca"></div>
    </header>
    <section>
      <form id="form-busca" onsubmit="return false">
        <label for="nome-personagem">Nome do Personagem</label><br />
        <input (input)="filtrarEntradaUsuarioBusca($event)" type="text" name="nome-personagem"/>
      </form>
      <table id="table-super-herois">
        <thead>
          <tr >
            <th>Personagem</th>
            <th class="hide-tela-peq">Séries</th>
            <th class="hide-tela-peq hide-tela-med">Eventos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let personagem of personagens">
            <td>
              <img class="thumbnail" src="{{personagem.thumbnail.path}}.{{personagem.thumbnail.extension}}" />
              <span class="nome-personagem"> {{personagem.name}}</span>
            </td>
            <td class="hide-tela-peq">
              <ul>
                <li *ngFor="let serie of retornarNoMaximoTresSeries(personagem.series.items)" >{{serie.name}}</li>
              </ul>
            </td>
            <td class="hide-tela-peq hide-tela-med">
                <ul>
                    <li *ngFor="let event of retornarNoMaximoTresEvents(personagem.events.items)" >{{event.name}}</li>
                  </ul>
            </td>
          </tr>

        </tbody>
      </table>
      <app-paginador [total]="totalRegistros" [limit]="qtdRegistroPorPagina" (navegar)="navegarPagina($event)" ></app-paginador>
    </section>
  </div>
